@import "tailwindcss";

@font-face {
  font-family: myFont;
  src: url(../public/fonts/Cheap_Potatoes_Black_Thin.ttf);
}

@import "primeicons/primeicons.css";

:root {
  --primary: #642d81;
  --primary-dark: #422d4d;
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Baloo Bhai 2", sans-serif;
}

.heading-font {
  font-family: myFont;
}
.fontColor {
  color: var(--primary);
}

.title {
  color: white;
  background: var(--primary);
  padding: 1rem 0.6rem;
  border-radius: 0.5rem;
  margin: -0.25rem;
  display: inline-block;
}

.extrabold {
  font-weight: 800;
}
